.item.nav {
	margin-left: 5%;
}
#navheader {
	text-align: right;
	padding: 0px;
	color: #D35400;
	margin-left: 12%;
	font-family: 'Spicy Rice', cursive;
	font-size: 2.3em;
}

.ui.top.fixed.menu {
	max-height: 75px;
}

body {
	font-family: 'Poppins', sans-serif;
	background: url('../images/gradientMicrophone.jpg');
	background-size: cover;
	background-position: center;
}

body, html {
	width: 100%;
	height: 100%;
}
